<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Location-base</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static\bootstrap-4.0.0-dist\css\bootstrap.min.css" rel="stylesheet">
</head>
<body id='body'>
<div class="container">
    <h1>Input Coordinate</h1>
    <br>

    {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}
        {% endif %}
    
</div>
    {% if (resp)!=None %}
    <p>{{resp}} </p>
    {% endif %}
    <div id="chart" class="chart"></div>
    
</body>
<footer>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
        var data = {{output | safe}};
        var layout = {
            autosize: true,
            hovermode:'closest',
            mapbox: {
                bearing:0,
                center: {
                lat:45.518982,
                lon:-122.512881
            },
            pitch:0,
            zoom:5
            },
        }
        Plotly.setPlotConfig({
            mapboxAccessToken: "pk.eyJ1IjoibWFra3Vyb3IiLCJhIjoiY2t3YWdnZ2w1MHk5bjJ2czNqam1sb3JweiJ9.VpcwOGLkFujEWgLxc3pvJw"
        })
        if (data){
            document.getElementById('body').innerHTML+=
           ' <table id=\"table\" style="width:70%;align-self= center;padding-left=100px,padding-right=100px">'+
  '<tr >'+
    '<th style="width:30%">Name</th>'+
    '<th style="width:40%">Cate</th>'+

    ' </tr>'+
                '</table>'

            for(var i=0;i<data.length;i++){
                document.getElementById('table').innerHTML+=
                '<tr>'+
                    '<td>'+data[i].name+'</td>'+
                    '<td>'+data[i].cate+'</td>'+

                    '</tr>'
            }

        }

        Plotly.newPlot('chart', data, layout)

    </script>
</footer>

</html>
